.footer{
  text-align: center;
  margin-top: 500px;
  background: #000;
  padding: 20px 20px;
  border-radius: 15px;
}

ul{
  color: #fff;
  display: flex;
  justify-content: space-between;
}

li{
  list-style: none;
  margin-left: 80px;
}

a{
  text-decoration: none;
  color: #eeeeee;
}
