<app-header></app-header>
<app-card filmName="Человек из стали" img="https://p4.wallpaperbetter.com/wallpaper/926/592/962/superman-poster-movie-henry-cavill-wallpaper-preview.jpg" yearOfIssue="12 июня 2013 г."></app-card>
<app-card filmName="Темный рыцарь" img="https://www.look.com.ua/mini/201210/55430.jpg" yearOfIssue="
23 июня 1989 г."></app-card>
<app-card filmName="Человек паук" img="https://www.soyuz.ru/public/uploads/files/2/7473173/20211004104022ed5db2ff1e.jpg" yearOfIssue="3 мая 2002 г."></app-card>
<app-sidebar></app-sidebar>
<app-footer></app-footer>
